<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<div>
  <p>
  <strong>Review:</strong>
  <% @restaurant.reviews.each do |review| %>
     <%= review.rating %>
     <%= review.content %>
   <% end %>
   </p>
 </div>

<div>
  <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %> |
  <%= link_to "Back to restaurants", restaurants_path %>

  <%= link_to "Destroy this restaurant", restaurant_path(@restaurant), data: {turbo_method: :delete, turbo_confirm: "are you sure?"} %>
  <%= link_to "create a review", new_restaurant_review_path(@restaurant) %>
</div>
